body{
    background-color: lightgoldenrodyellow;
}
#open-screen{
    height:100%;
    width:100%;
    background-color:grey;
    text-align:center;
    vertical-align: middle;
    display:inline-block;
    /* visibility:hidden; */
    z-index:5;
    position:fixed;
    text-align:center;
}
#start-button{
    height:100px;
    width:100px;
    text-align:center;
    background-color:yellow;
    border-radius:50%;
    margin:0 auto;
     display:inline-block;
    vertical-align: middle;
    position:absolute;
    top:40%;
}

.youWin{
    position:fixed;
    top:10%;
    left:30%;
    color:lightsalmon;
    text-align:center;
    font-size:100px;
    font-family:Arial, Helvetica, sans-serif; 



}

.youLoose{
    position:fixed;
    top:10%;
    left:30%;
    color:lightsalmon;
    text-align:center;
    font-size:100px;
    font-family:Arial, Helvetica, sans-serif; 
}
#looserNameInput{
    position:relative;
    top:200px;
    text-align:center;
}
#winnerNameInput{
    position:relative;
    top:250px;
    text-align:center;
}




#start-button:hover{
    transform:scale(1.5);
}
#start-text{
    position:relative;
    top:10%;
    font-family: Arial, Helvetica, sans-serif
}
#champion-display{
    border:2px solid lightskyblue;
    height:60px;
    width:100%;
    text-align:center;
}
#wall-of-shame{
    border:2px solid lightskyblue;
    height:200px;
    width:100%;
    text-align:center;
}

    

#mouth{
    position:fixed;
    transform:scale(2.2);
    left:33%;
    bottom:50px;
    z-index:0;
}
#question-display{
    z-index:3;
    width:200;
    background-color:white;
    border:4px solid lightskyblue;
    position:fixed;
    left:5%;
    top:50%;
    height:50px;
    z-index:1;
}

#answer-container{
    z-index:3;
    position:fixed;
    left:33%;
    width:500px;
    bottom:0px;
}

.answer-block{
    background-color:whitesmoke;
    
    width:100px;
    height:70px;
    margin:60px;
    margin-bottom:80px;
    float:left;
    z-index:2;
    border-radius:10px;
    text-align:center;
}
.answer-text{
    
    position:relative;
    top:30%;
}
.correct{
    font-weight:bold;
    color:lightcoral;
    font-size:20px;
    font-weight: bold;
    text-align:center;
    position:relative;
    top:-60%;


}
.wrong{
    font-weight:bold;
    color:lightgray;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    position:relative;
    top:-60%;
    
}

#time-counter{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:palevioletred;
    position:absolute;
    left:500px;
    bottom:300px;
    text-align:center;
}

#score-counter{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:thistle;
    position:absolute;
    left:550px;
    bottom:400px;
    text-align:center;
}

#score-text{
    position:relative;
    top:30%;


}
#counter-text{
    position:relative;
    top:30%;

}
@keyframes shake{
    0%{transform:rotate(15deg) ;
        transform-origin:center bottom;}
    25%{transform:rotate(0deg);
        transform-origin:center bottom;}
    75%{transform:rotate(-15deg);
        transform-origin:center bottom;}
    100%{transform:rotate(0deg);
        transform-origin:center bottom;}
    }
.toothExtractAnimation{
    animation-name:toothExtract;
    animation-iteration-count:1;
    animation-duration:2s; 
}
    

.shakeAnimation{
    animation-name:shake;
    animation-iteration-count:6;
    animation-duration:.2s;
}

@keyframes toothExtract{
    0%{transform:translate(0px, 0px);}
    10%{transform:translate(-100px,-100px);}
    15%{transform:translate(-100px,-100px);
        background-color:pink;}
    20%{transform:translate(-100px,-100px);
        background-color:yellow;}
    25%{transform:translate(-100px,-100px);
        background-color:red;}
    30%{transform:translate(-100px,-100px);
            background-color:orange;}
    35%{transform:translate(-100px,-100px);
        background-color:red;}
    40%{transform:translate(-100px,-100px);
         background-color:orange;}
    100%{transform:translate(-100px,400px);
        visibility:hidden}

}
    




    /* @keyframes roll{
        0%{background-color:yellow;}
        25%{background-color:orange;}
        50%{background-color:red;}
        75%{background-color:violet;}
        100%{background-color:powderblue;}
        }
        
        .rollAnimation{
            animation-name:roll;
            animation-iteration-count:1;
            animation-duration:1s;
        
        } */